<nav class="navbar">
  <div class="logo">📚 BookStore</div>
  <ul class="nav-links">
    <li ><a routerLink="/">Home</a></li>
    <li><a routerLink="/books">Books</a></li>
    <li><a routerLink="/categories">Categories</a></li>
    <li *ngIf="!isLoggedIn()"><a routerLink="/login">Login</a></li>
    <li class="nav-item" *ngIf="!isLoggedIn()">
      <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
    </li>
    
<li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
